<div class="row text-center col-md-4 col-md-offset-4">
  <form [formGroup]="meetingRegisterForm" (ngSubmit)=" scheduleMeeting()">

    <div class="form-group" [ngClass]="{'has-error' : meetingRegisterForm.get('description').errors && meetingRegisterForm.get('description').touched}">
      <label for="description">Descrição</label>
      <input type="text" placeholder="Descrição" class="form-control" formControlName="description">
      <span class="help-block" *ngIf="meetingRegisterForm.get('description').hasError('required') && meetingRegisterForm.get('description').touched">
        Informe uma descrição
      </span>
    </div>

    <div class="form-group" >
      <label for="day">Dia</label>
      <input type="text" bsDatepicker #dp="bsDatepicker" [bsConfig]="bsConfig" id="starting-time" class="form-control" formControlName="day" placeholder="Clique para selecioanr um dia">
    </div>

    <div class="form-group">
      <label for="startingTime">Horario:</label>
      <input type="time" id="startingTime" class="form-control" formControlName="startingTime" min="07:30" max="18:00">
    </div>

    <div class="form-group">
      <label for="finishingTime">Até:</label>
      <input type="time" id="finishingTime" class="form-control" formControlName="finishingTime"  min="07:30" max="18:00">
    </div>


    <div class="form-group ">
      <button class="btn btn-primary" type="submit">Agendar</button>
      <button class="btn btn-danger" type="button">Cancelar</button>
    </div>
  </form>

  <p>Form value: {{meetingRegisterForm.value | json}}</p>
  <p>Form status: {{meetingRegisterForm.status}}</p>
  <p>Model: {{model | json}}</p>
</div>