<div class="row text-center col-md-4 col-md-offset-4">
  <form [formGroup]="meetingRegisterForm" (ngSubmit)=" scheduleMeeting()">

    <div class="form-group" [ngClass]="{'has-error' : meetingRegisterForm.get('description').errors && meetingRegisterForm.get('description').touched}">
      <label for="description">Descrição</label>
      <input type="text" placeholder="Descrição" class="form-control" formControlName="description">
      <span class="help-block" *ngIf="meetingRegisterForm.get('description').hasError('required') && meetingRegisterForm.get('description').touched">
        Informe uma descrição
      </span>
    </div>

    <div class="form-group" [ngClass]="{'has-error' : meetingRegisterForm.get('day').errors && meetingRegisterForm.get('day').touched}">
      <label for="day">Dia</label>
      <input type="text" bsDatepicker #dp="bsDatepicker" [bsConfig]="bsConfig" id="starting-time" class="form-control" formControlName="day" placeholder="Clique para selecionar um dia">
      <span class="help-block" *ngIf="meetingRegisterForm.get('day').hasError('required') && meetingRegisterForm.get('day').touched">
        Informe o dia da reunião
      </span>
    </div>

    <div class="form-group" [ngClass]="{'has-error' : meetingRegisterForm.get('startingTime').errors && meetingRegisterForm.get('startingTime').touched}">
      <label for="startingTime">Horario:</label>
      <input type="time" id="startingTime" class="form-control" formControlName="startingTime" min="07:30" max="18:00">
      <span class="help-block" *ngIf="meetingRegisterForm.get('startingTime').hasError('required') && meetingRegisterForm.get('startingTime').touched">
        Informe o horário de iníncio
      </span>
    </div>

    <div class="form-group" [ngClass]="{'has-error' : meetingRegisterForm.get('finishingTime').errors 
        && meetingRegisterForm.get('finishingTime').touched || meetingRegisterForm.get('finishingTime').touched
        && meetingRegisterForm.hasError('invalidtime')}">
      <label for="finishingTime">Até:</label>
      <input type="time" id="finishingTime" class="form-control" formControlName="finishingTime"  min="07:30" max="18:00">
      <span class="help-block" *ngIf="meetingRegisterForm.get('finishingTime').hasError('required') && meetingRegisterForm.get('finishingTime').touched">
        Informe o horário limite
      </span>
      <span class="help-block" *ngIf="meetingRegisterForm.get('finishingTime').touched
                                    && meetingRegisterForm.hasError('invalidtime')">
        Horário inválido
      </span>
    </div>


    <div class="form-group ">
      <button class="btn btn-primary" type="submit">Agendar</button>
      <button class="btn btn-danger" type="button" (click)="resetForm();">Cancelar</button>
    </div>
  </form>

</div>