<div class="row text-center" >
  <form #createMeeting="ngForm"  (ngSubmit)="scheduleMeeting()">
    <div class="form-group">
      <label for="description">Descrição</label>
      <input type="text" placeholder="Descrição" id="description" [(ngModel)]="description" name="description">
    </div>

    <div class="form-group">
      <label for="day">Dia</label>
      <input type="date" id="starting-time" [(ngModel)]="day" name="day" min="2018-04-01T08:30" max="2018-05-30T16:30">
    </div>

    <div class="form-group">
      <label for="startingTime">Horario:</label>
      <input type="time" id="startingTime" [(ngModel)]="startingTime" name="startingTime" min="07:00:00" max="18:00:00" 
        pattern="[0-9]{2}:[0-3]{2}">
    </div>

    <div class="form-group">
      <label for="finishingTime">Até:</label>
      <input type="time" id="finishingTime" [(ngModel)]="finishingTime" name="finishingTime" min="07:00:00" max="18:00:00" 
        pattern="[0-9]{2}:[0-3]{2}">
    </div>




    <div class="form-group ">
        <button class="btn btn-primary" type="submit">Agendar</button>
        <button class="btn btn-danger" type="button">Cancelar</button>
      </div>
  </form> 
</div>